// Place all the styles related to the Question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coach-background {
    background-color: #FEF6C2;
    border-left: 8px solid lightgrey ;
    padding-left: 8px;
    margin: 4px;
}
.user-question{
    margin: 4px;
    border-left: 8px solid lightgrey ;
    padding-left: 8px;
}
